
* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	height: 100%;
	
	
	background-image: url(../img/backgorund.jpg); /* Путь к фоновому изображению */
    width:100%;
	height:100%;
	background-repeat: no-repeat;
	min-width:900px;
	
	background-attachment: fixed ;
	background-position :top;
	 background-size: cover; /* Масштабируем фон */
	
	
}

/* Wrapper
-----------------------------------------------------------------------------*/
#wrapper{
	margin:auto;
	height:3390px;
	width:900px;
	background-color:white;
	margin-top:100px;
	margin-bottom:100px;
	  box-shadow: 0 0 20px rgba(0,0,0,3);
}

/* Header
-----------------------------------------------------------------------------*/
#header {
	background-image: url(../img/header.jpg); 
	background-repeat: no-repeat;
	width:900px;
	height:495px;
	
}

#namesite{
	margin:auto;
	padding-top:300px;
	text-align:center;
	font-size:50px;
	font-weight: 600;
	color:white;  
	
}
nav{
	
	text-align:center;
}

nav a{
	color:white;
	font-size:18px;
	text-decoration:none;
}


/* Middle
-----------------------------------------------------------------------------*/
#center {
	width:100%;
	height:2800px;
	padding-top:70px;
	
	
	
}
/* center-one
-----------------------------------------------------------------------------*/
#center-one
{
	width:100%;
	height:200px;


}

.icons
{
	width:297px;
	height:200px;
	
	float:left;
}

#ico1-img
{
	width:107px;
	height:107px;
	margin:auto;
	
	background-image: url(../img/ico1.ico); 
}

#ico2-img
{
	width:107px;
	height:107px;
	margin:auto;
	
	background-image: url(../img/ico2.ico); 
}

#ico3-img
{
	width:107px;
	height:107px;
	margin:auto;
	
	background-image: url(../img/ico3.ico); 
}

.icons .ico-title
{
	text-align:center;
	padding-top:10px;
	font-size:16px;
	font-weight: 600;
	
	
}
.ico-line
{
	width:80px;
	margin:auto;
	border-bottom:1px solid #f57365;
	padding-top:2px;
}

.ico-text
{
	padding:5px;
	padding-top:10px;
	text-align:center;
}
/* center-two
-----------------------------------------------------------------------------*/
#center-two
{
	width:100%;
	height:545px;
	margin-top:70px;
	background-color:#f7f7f7;
	padding-top:100px;
}

#iphone
{
	width:398px;
	height:545px;
	
	float:left;
	background-image: url(../img/iphone.jpg); 
	 z-index: 1;
}
#iphone-text
{
	width:400px;
	height:500px;
	margin-top:50px;
	margin-left:450px;
	
}
#iphone-title
{
    font-size:16px;
	font-weight: 600;
	
}
#iphone-textAll
{
	padding-top:20px;
}

.iphone-line
{
	width:80px;
	
	border-bottom:1px solid #f57365;
	padding-top:5px;
}
#iphonelinkapplandgoogle
{
	width:100%;
	height:50px;
	margin-top:40px;
	
}

/* center-three
-----------------------------------------------------------------------------*/
#center-three
{
	width:100%;
	height:270px;
	background-color:#4a3949;
	margin-top:-0.001cm;
	
}

	.slider {
			z-index: 9;
			width: 900px;
			height: 270px;
			overflow: hidden;
			margin: 0 0 7px;
			position: relative;
		}
		.slider ul,
		.slider li {
			padding: 0;
			margin: 0;
			list-style-type: none;
		}
		.slider ul {
			width: 9999px; 
		}
		.slider ul li {
			list-style-type: none;
			float: left;
			width: 900px;
			height: 290px;
		}
		.slider .nav {
			position: absolute;
			left: 425px;
			bottom: 12px; 
		}
		.slider .nav span {
			opacity: 0.9;
			background: #4a3949;
			margin: 0 8px 0 0;
			width: 10px;
			height: 10px;
			border-radius: 10px;
			cursor: pointer;
			overflow: hidden;
			display: block;
			float: left;
			box-shadow: 0 1px 2px #000;
		}
		.slider .nav span.on {
			background: white;
		}
/* center-four
-----------------------------------------------------------------------------*/
#center-four
{
	width:100%;
	height:750px;
	
	background-color:#f7f7f7;
}

#food-title
{
	width:100%;
	height:150px;
	
}


#titlein
{
	text-align:center;
	font-weight: 600;
	padding-top:100px;
	font-size:16px;
}

#food
{
	width:100%;
	height:450px;

}

.imgfood
{
	float:left;
	background-color:black;
	width:300px;
	height:211px;
}
#statistics
{
	width:100%;
	height:145px;
	
}

.statistics
{
	width:178px;
	height:145px;

	float:left;
}

.numeric
{
	font-size:28px;
	font-weight: 600;
	text-align:center;
	padding-top:30px;	
}

.statisticstext
{
	text-align:center;
	padding:10px;
}

/* Footer
-----------------------------------------------------------------------------*/
#feedback
{
	width:100%;
	height:420px;
	
}

#feedbacktitle
{
	text-align:center;
	font-weight: 600;
	padding-top:100px;
	font-size:16px;
}


input{
	height:22px;
	font-size:20px;
	border:1px solid black;
}
.label
{
	
	margin:10px;
}
.map
{
	margin-left:150px;
}
#map
{
	height:450px;
	width:100%;
	
	background-color:white;
}
/* form
-----------------------------------------------------------------------------*/
#form
{
	margin-top:20px;
	font-size:16px;
}
#formLeft
{
	width:449px;
	height:200px;
	
	float:left;
}
#formRight
{
	width:440px;
	height:200px;

	float:left;
}
.nameform
{
	padding:10px;
}
textarea
{
	resize: none;
	padding-bottom:10px;
		border:1px solid black;
}
#submit
{
	font-size:18px;
	margin-left:20px;
}
/* Footer
-----------------------------------------------------------------------------*/
#footer {
	height:80px;
	width:100%;
	clear:both;
	background-color:black;
	

}

#social
{
	width:100px;
	height:60px;
	margin:auto;
	clear:both;
}
.footerimg
{
	float:left;
	padding-top:12px;
}
#footertext
{
	text-align:center;
	color:white;
}